<ul class="main-navigation">
  <li><a href="{{ root_url }}/"><font size="2" color="#00688B">Blog</font></a>
    <ul>
      <li><a href="/blog/about-me"><font size="2" color="#EE7621">ABOUT ME</font></a></li>
    </ul>
  </li>
  <li><a href="{{ root_url }}/blog/date-categories"><font size="2" color="#CD3278">DATE_CATEGORIES</font></a>
    <ul>
      <li><a href="/blog/2015"><font size="2" color="#7CCD7C">2015</font></a></li>
    </ul>
  </li>
  <li><a href="{{ root_url }}/blog/technology"><font size="2" color="#104E8B">TECHNOLOGY</font></a>
    <ul>
      <li><a href="/blog/algorithm"><font size="2" color="#778899">ALGORITHM</font></a></li>
	  <li><a href="/blog/coding"><font size="2" color="#B03060">CODING</font></a></li>
	  <li><a href="/blog/OPS"><font size="2" color="#8B6914">OPS</font></a></li>
	  <li><a href="/blog/math"><font size="2" color="#8B5A2B">MATH</font></a></li>
    </ul>
</li>
  <li><a href="{{ root_url }}/blog/life"><font size="2" color="#EE5C42">LIFE</font></a>
    <ul>
      <li><a href="/blog/miu"><font size="2" color="#EE799F">MIU~!MIU~!</font></a></li>
	  <li><a href="/blog/travel"><font size="2" color="#EE9A00">TRAVEL</font></a></li>
	  <li><a href="/blog/reading"><font size="2" color="#C67171">READING</font></a></li>
	  <li><a href="/blog/riding"><font size="2" color="#CD2626">RIDING</font></a></li>
    </ul>
  </li>
  <li><a href="{{ root_url }}/blog/nirvana-plan"><font size="2" color="#8B5742">NIRVANA PLAN</font></a>
    <ul>
      <li><a href="/blog/introspection"><font size="2" color="#68228B">INTROSPECTION</font></a></li>
	  <li><a href="/blog/thinking"><font size="2" color="#9ACD32">THINKING</font></a></li>
    </ul>
  </li>
  <li><a href="{{ root_url }}/blog/game"><font size="2" color="#CD0000">GAME</font></a>
    <ul>
      <li><a href="/blog/sony"><font size="2" color="#3A5FCD">SONY</font></a></li>
	  <li><a href="/blog/the-xbox-empire"><font size="2" color="#3CB371">THE XBOX EMPIRE</font></a></li>
	  <li><a href="/blog/the-pc-holy-land"><font size="2" color="#EE7621">THE PC HOLY LAND</font></a></li>
	  <li><a href="/blog/electronic-sports-games"><font size="2" color="#1874CD">ELECTRONIC SOPRTS GAMES</font></a></li>
	  <li><a href="/blog/online-game"><font size="2" color="#C71585">ONLINE GAME</font></a></li>
    </ul>
  </li>
  <li><a href="{{ root_url }}/blog/other"><font size="2" color="#6E8B3D">OTHER</font></a></li>
</ul>
