<ul class="main-navigation">
  <li><a href="{{ root_url }}/">博客</a></li>
  <li><a href="{{ root_url }}/blog/archives">首页</a></li>
  <li><a href="{{ root_url }}/class/Algorithm.html">Algorithm</a></li>
  <li><a href="{{ root_url }}/class/coding.html">Coding</a></li>
  <li><a href="{{ root_url }}/class/introspection.html">Introspection</a></li>
  <li><a href="{{ root_url }}/class/life.html">Life</a></li>
  <li><a href="{{ root_url }}/class/ops.html">OPS</a></li>
  <li><a href="{{ root_url }}/class/plan.html">Plan</a></li>
  <li><a href="{{ root_url }}/class/reading.html">Reading</a></li>
  <li><a href="{{ root_url }}/class/riding.html">Riding</a></li>
  <li><a href="{{ root_url }}/class/thinking.html">Thinking</a></li>
  <li><a href="{{ root_url }}/class/travel.html">Travel</a></li>
  <li><a href="{{ root_url }}/class/other.html">Other</a></li>
</ul>
